// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    padding: 0;
    margin: 0;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.timer {
    position: fixed;
    top: 0;
    left: 0;
    background: red;
    padding: 1rem;
    font-weight: bold;
}